.card-widget.card-map
  .card-content
    .item-headline
      i.fas.fa-globe-asia(aria-hidden="true")
      span= _p('aside.card_map')
    //- 下面这行适用于平面地图(Map Widget)
    script#clustrmaps(type="text/javascript" defer="defer" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=tt&d=nmMORg2aOBWkmYxeLyVROJpmZGCOGJBEEL9FEHLjNqw")
