extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    #bber-talk
      script(src='/js/jquery.min.js')
      script(src='/js/timeago.min.js')
    +postUI
    include includes/pagination.pug